.page-head {
	background-color: #F5F5F5;
}

.page-head a {
	color: #000000;
	float: right;
}

.page-body {
	background-color: #202021;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #ffffff;
}

.slogan {
	font-size: 70px;
}

.signup {
	color: #ffffff;
	font-size: 14px;
	line-height: 32px;
}

.signup:hover {
	color: #ffffff;
}

.container-panels {
	margin-top: 3%;
}

.operation-list button {
	display: block;
	margin-top: 3%;
	margin-bottom: 3%;
	width: 150px;
}

