.about {
	color: #000000;
}

.page-head {
	background-color: #F5F5F5;
}

.page-body {
	background-color: #202021;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #ffffff;
}

.slogan {
	font-size: 70px;
}
